{
    "branch": "master",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "changelogTitle": "# Semantic Versioning Changelog"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md",
                ]
            }
        ],
        [
          "@semantic-release/github", 
          {
            "assets": [
              {"path": "image_ambianic_edge-rpi.zip", "label": "Ambianic Edge binary image for Raspberry Pi SD Card"},
            ]
          }
        ]
    ]
}
